h1 {
  font-family: Arial, sans-serif;
}

h2 {
  font-family: Arial, sans-serif;
  color:rgb(0, 0, 0)
}

h3 {
  font-family: Arial, sans-serif;
}

p {
  font-family: Arial, sans-serif;
}

td {
  font-family: Arial, sans-serif;
  text-align: center;
}

li {
  font-family: Arial, sans-serif;
}

div {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

h1 {
  padding: 20px;
  background-color: rgb(0, 22, 90);
  text-align: center;
  font-size: 50px;
  color:rgb(255, 255, 255)
}

body {
  background-color: rgb(0, 22, 90);
}

footer {
  margin-top: 50px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 50px;
  color: white;
  font-size: 12px;
}

.collapsible {
  background-color: rgb(0, 22, 90);
  color: white;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: rgb(237, 143, 56);
  transition-duration: 0.3s;
}

.content {
  display: none;
  overflow: hidden;
  border-style: solid;
  border-top: 2px;
  border-bottom: 2px;
  border-color: rgb(237, 143, 56);
}

.homebutton {
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.homebutton1 {
  background-color: rgb(237, 143, 56); 
  color: rgb(0, 0, 0); 
  border: 5px solid rgb(0, 134, 18);
}

.homebutton1:hover {
  background-color: rgb(0, 134, 18);
  color: white;
  border: 5px solid rgb(237, 143, 56);
}